<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.shop.product.mapper.ProductMapper">
    <select id="selectCategoryList" resultType="Category">
        SELECT * FROM category
    </select>

    <select id="getHotProductList" parameterType="integer" resultType="product">
        SELECT * FROM product WHERE is_hot=1 limit #{limit}
    </select>
    
    <select id="getNewProductList" parameterType="integer" resultType="product">
        SELECT * FROM product ORDER BY pdate DESC limit #{limit}
    </select>
    
    <select id="getProductByCid" parameterType="string" resultType="cn.itcast.shop.dto.ProductCategory">
        SELECT p.*,c.cname FROM product p,category c WHERE p.cid=c.cid AND p.cid=#{cid}
    </select>

    <select id="getProductById" parameterType="string" resultType="cn.itcast.shop.dto.ProductCategory">
        SELECT p.*,c.cname FROM product p,category c WHERE p.cid=c.cid AND p.pid=#{pid}
    </select>

    <select id="searchProduct" parameterType="string" resultType="cn.itcast.shop.dto.ProductCategory">
        SELECT p.*,c.cname FROM product p,category c WHERE p.cid=c.cid AND  p.pname LIKE  #{pname}"%"
    </select>
</mapper>